.mycard{
    width: 150px;
    height: 150px;
    clip-path: circle(40%);
    margin-top: -100px;
}
.card{
    height: 450px;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
    
    background-color: rgba(136, 201, 176, 0.5);
    margin: 20px;
}
.cardbg{
    background-image: url(img/幾何.jpg);
    height: 200px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
}
.btn{

   
    font-size: 30px;
    color: rgb(228, 232, 236);
    width: 100%;
    background-color: blueviolet;
    padding: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.btn :hover{color: antiquewhite;}